@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@import "tailwindcss";

/* @import "tailwindcss/preflight"; */
/* @tailwind utilities; */

.font-kdam {
  font-family: "Kdam Thmor Pro", sans-serif;
}

.scrollbar-hide {
  /* Chrome, Safari and Edge */
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on mobile */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Firefox */
  scrollbar-width: none; /* Firefox */
}
